/* APPLICATION STYLING */
.app {
  text-align: center;
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

/* HEADER STYLING */
.app-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* BANNER STYLING */
#banner {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;background-color: #ffffff;
}
#bannerText {
  vertical-align: middle;
  line-height: 17px;
}
#bannerClose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

/* SEARCH BAR STYLING */
#searchContainer {
  width: 800px;
  padding: 10px;
  margin: 15px auto;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
}
#searchContainer h3 {
  text-align: left;
  margin-left: 38px;
}
#searchContainer input {
  text-indent: 25px;
}
.search .fa-search {
  position: absolute;
  top: 94px;
  left: 60px;
  font-size: 15px;
}
#searchBar {
  width: 90%;
  margin: 10px;
  height: 40px;
  padding: 8px;
}

/* RESULTS COMPONENT STYLING */
.resultsContainer {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
#results {
  background-color: #ffffff;
  width: 48%;
  border-radius: 6px;
}
#results h3 {
  text-align: left;
  margin-left: 20px;
}
#resultsList {
  margin-left: 20px;
}
#resultsList li {
  margin: 5px 0;
  text-align: left;
}
button:hover {
  cursor: pointer;
}

/* NOMINATIONS COMPONENT STYLING */
#nominations {
  background-color: #ffffff;
  width: 48%;
  border-radius: 6px;
}
#nominations h3 {
  text-align: left;
  margin-left: 20px;
}
#nominationsList {
  margin-left: 20px;
}
#nominationsList li {
  margin: 5px 0;
  text-align: left;
}

/* MISCELLANEOUS STYLING */
.boxShadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}